[Unit]
Description=isimip-files-api gunicorn daemon
PartOf=api.service
After=api.service

[Service]
User=isimip
Group=isimip

WorkingDirectory=/home/isimip/api
EnvironmentFile=/home/isimip/api/.env
Environment=GUNICORN_BIN=/home/isimip/api/env/bin/gunicorn
Environment=GUNICORN_WORKER=3
Environment=GUNICORN_PORT=9002
Environment=GUNICORN_TIMEOUT=120
Environment=GUNICORN_PID_FILE=/run/gunicorn/api/pid
Environment=GUNICORN_ACCESS_LOG_FILE=/var/log/gunicorn/api/access.log
Environment=GUNICORN_ERROR_LOG_FILE=/var/log/gunicorn/api/error.log

ExecStart=/bin/sh -c '${GUNICORN_BIN} \
  --workers ${GUNICORN_WORKER} \
  --pid ${GUNICORN_PID_FILE} \
  --bind localhost:${GUNICORN_PORT} \
  --timeout ${GUNICORN_TIMEOUT} \
  --access-logfile ${GUNICORN_ACCESS_LOG_FILE} \
  --error-logfile ${GUNICORN_ERROR_LOG_FILE} \
  "isimip_files_api.app:create_app()"'

ExecReload=/bin/sh -c '/usr/bin/pkill -HUP -F ${GUNICORN_PID_FILE}'

ExecStop=/bin/sh -c '/usr/bin/pkill -TERM -F ${GUNICORN_PID_FILE}'

[Install]
WantedBy=api.target
