<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ ansible_host }}</title>
  <style>
    body { font-family: sans-serif; text-align: center; width: 600px; margin: 60px auto; color: #333; }
    span { font-size: 3em }
    h1 { font-size: 1.2em; margin-bottom: 20px; margin-top: 20px; }
    p { margin-top: 20px; margin-bottom: 20px; }
    a { color: rgb(6, 129, 190); }
  </style>
</head>
<body>
    <span>😀</span>

    <h1>{{ ansible_host }}</h1>

    <p>
      Everything's working fine, but there's nothing to see here.
    </p>

    <p>
      If you think there should be something here, please contact <a href="mailto:info@isimip.org">info@isimip.org</a>.
    </p>
</body>
</html>
