[Unit]
Description={{ item.data_url }} gunicorn daemon
After=network.target

[Service]
User=isimip
Group=isimip

WorkingDirectory=/srv/www/{{ item.app }}

LogsDirectory=django/{{ item.app }} gunicorn/{{ item.app }}
RuntimeDirectory=gunicorn/{{ item.app }}

Environment=GUNICORN_BIN=env/bin/gunicorn
Environment=GUNICORN_WORKER=3
Environment=GUNICORN_PORT={{ item.gunicorn_port }}
Environment=GUNICORN_TIMEOUT=30
Environment=GUNICORN_PID_FILE=/run/gunicorn/{{ item.app }}/pid
Environment=GUNICORN_ACCESS_LOG_FILE=/var/log/gunicorn/{{ item.app }}/access.log
Environment=GUNICORN_ERROR_LOG_FILE=/var/log/gunicorn/{{ item.app }}/error.log

ExecStart=/bin/sh -c '${GUNICORN_BIN} \
  --workers ${GUNICORN_WORKER} \
  --timeout ${GUNICORN_TIMEOUT} \
  --pid ${GUNICORN_PID_FILE} \
  --bind 127.0.0.1:${GUNICORN_PORT} \
  --access-logfile ${GUNICORN_ACCESS_LOG_FILE} \
  --error-logfile ${GUNICORN_ERROR_LOG_FILE} \
  config.wsgi:application'

ExecReload=/bin/sh -c '/usr/bin/pkill -HUP -F ${GUNICORN_PID_FILE}'

ExecStop=/bin/sh -c '/usr/bin/pkill -TERM -F ${GUNICORN_PID_FILE}'

[Install]
WantedBy=multi-user.target
