[Unit]
Description={{ draft_url }}/doi gunicorn daemon
After=network.target

[Service]
User=isimip
Group=isimip

WorkingDirectory=/srv/www/doi

LogsDirectory=django/doi gunicorn/doi
RuntimeDirectory=gunicorn/doi

Environment=GUNICORN_BIN=env/bin/gunicorn
Environment=GUNICORN_WORKER_CLASS=gthread
Environment=GUNICORN_WORKERS=1
Environment=GUNICORN_THREADS=2
Environment=GUNICORN_PORT=9002
Environment=GUNICORN_TIMEOUT=30
Environment=GUNICORN_PID_FILE=/run/gunicorn/doi/pid
Environment=GUNICORN_ACCESS_LOG_FILE=/var/log/gunicorn/doi/access.log
Environment=GUNICORN_ERROR_LOG_FILE=/var/log/gunicorn/doi/error.log
Environment=GUNICORN_SCRIPT_NAME=/doi

ExecStart=/bin/sh -c '${GUNICORN_BIN} \
  --worker-class ${GUNICORN_WORKER_CLASS} \
  --workers ${GUNICORN_WORKERS} \
  --threads ${GUNICORN_THREADS} \
  --timeout ${GUNICORN_TIMEOUT} \
  --pid ${GUNICORN_PID_FILE} \
  --bind localhost:${GUNICORN_PORT} \
  --access-logfile ${GUNICORN_ACCESS_LOG_FILE} \
  --error-logfile ${GUNICORN_ERROR_LOG_FILE} \
  --env SCRIPT_NAME=${GUNICORN_SCRIPT_NAME} \
  config.wsgi:application'

ExecReload=/bin/sh -c '/usr/bin/pkill -HUP -F ${GUNICORN_PID_FILE}'

ExecStop=/bin/sh -c '/usr/bin/pkill -TERM -F ${GUNICORN_PID_FILE}'

[Install]
WantedBy=multi-user.target
