[Unit]
Description=data.isimip.org gunicorn daemon
After=network.target

[Service]
User=isimip
Group=isimip

WorkingDirectory=/home/isimip/isimip-data/data
EnvironmentFile=/home/isimip/isimip-data/data/.env
GUNICORN_BIN=/home/isimip/isimip-data/data/env/bin/gunicorn
GUNICORN_WORKER=3
GUNICORN_PORT=9001
GUNICORN_PID_FILE=/run/gunicorn/data/pid
GUNICORN_ACCESS_LOG_FILE=/var/log/gunicorn/data/access.log
GUNICORN_ERROR_LOG_FILE=/var/log/gunicorn/data/error.log

ExecStart=/bin/sh -c '${GUNICORN_BIN} \
  --workers ${GUNICORN_WORKER} \
  --pid ${GUNICORN_PID_FILE} \
  --bind localhost:${GUNICORN_PORT} \
  --access-logfile ${GUNICORN_ACCESS_LOG_FILE} \
  --error-logfile ${GUNICORN_ERROR_LOG_FILE} \
  config.wsgi:application'

ExecReload=/bin/sh -c '/usr/bin/pkill -HUP -F ${GUNICORN_PID_FILE}'

ExecStop=/bin/sh -c '/usr/bin/pkill -TERM -F ${GUNICORN_PID_FILE}'

[Install]
WantedBy=multi-user.target
